<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectHUD</title>
    <link rel="stylesheet" href="/static/styles/table.css">
</head>

<body>
    <!-- Milestone Progress Bars -->
    <section id="milestones">
        {% for milestone in milestones %}
        <div class="milestone">
            <div class="milestone-subtitle">
                <span class="repo-name">{{ milestone.repo_name }}</span>
            </div>
            <div class="progress-bar">
                <div class="progress" style="width: {{ milestone.progress }}%;">
                    <span class="milestone-text">{{ milestone.name }} ({{ milestone.progress }}%)</span>
                </div>
                <div class="milestone-markers">
                    {% for i in range(milestone.issues) %}
                    <div class="marker" style="left: {{ (i + 1) * (100 / milestone.issues) }}%;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </section>


    <!-- Issues and Pull Requests -->
    <section id="stats">
        <!-- Issues Section -->
        <div class="stat-box" id="issues">
            <h2>Issues ({{ issues_count }})</h2>
            <div class="card-container">
                {% for issue in issues %}
                <div class="card">
                    <!-- Number & Repo Name -->
                    <div class="number-box">
                        <div class="card-number">#{{ issue.number }}</div>
                        <div class="repo-name">{{ issue.repo_name }}</div>
                    </div>

                    <!-- Data Column: Title, Meta, Assignees -->
                    <div class="card-data">
                        <div class="card-content">
                            <span class="card-title">{{ issue.title }}</span>
                            <span class="card-meta">Opened by {{ issue.user }}</span>
                        </div>
                        {% if issue.assignees %}
                        <div class="card-assignee">
                            {% for assignee in issue.assignees %}
                            <div class="assignee-name">{{ assignee }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Labels Column -->
                    <div class="card-labels">
                        {% for label in issue.labels %}
                        <div class="issue-label" style="background-color: {{ label.color }};">
                            {{ label.name }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Pull Requests Section -->
        <div class="stat-box" id="pull-requests">
            <h2>Pull Requests ({{ pull_requests_count }})</h2>
            <div class="card-container">
                {% for pr in pull_requests %}
                <div class="card {% if pr.is_draft %}draft-pr{% endif %}">
                    <!-- Number & Repo Name -->
                    <div class="number-box">
                        <div class="card-number">#{{ pr.number }}</div>
                        <div class="repo-name">{{ pr.repo_name }}</div>
                    </div>

                    <!-- Title, Meta, Changes -->
                    <div class="card-data">
                        <span class="card-title">{{ pr.title }}</span>
                        <span class="card-meta">Opened by {{ pr.user }}</span>
                        {% if pr.assignees %}
                        <div class="card-assignee">
                            {% for assignee in pr.assignees %}
                            <div class="assignee-name">{{ assignee }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <!-- Labels Column -->
                    <div class="card-labels">
                        {% for label in pr.labels %}
                        <div class="issue-label" style="background-color: {{ label.color }};">
                            {{ label.name }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="card-changes">
                        <span class="changes-additions">+{{ pr.additions }}</span>
                        <span class="changes-divider">/</span>
                        <span class="changes-deletions">-{{ pr.deletions }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="activity-stats">
        {% include "partials/commit_log.html" %}
        {% include "partials/ci_jobs.html" %}
    </section>

    <div class="page-footer">
        <p>Last updated: {{ last_updated | time_ago }}</p>
    </div>
</body>

</html>